/* Селектори Атрбуту
 */
/* селектор імені атрибуту */
/* всі елементи з таким атрибутом отримають колор */
[href] {
    color: #7a956b
}

/* всі елементи з підказками отримають знаки питання перед ними */
[title]::before {
    content: '(?)';
    color: #fff;
    display: inline-block;
    margin-right: 5px;
}

/* селектор імені атрибуту та його значення */
/* всі елементи з атрибутом та таким же значенням мають колор */
[href="https://facebook.com"] {
    color: cornflowerblue;
}

/* селектор імені атрибуту та його значення  за умови*/
/* всі елементи з цим атрибутом, які мають в значенні слово, або якесь зі слов */
[title~="підказка"] {
    color: #77608d;
}

/* селектор імені атрибуту та його значення  за умови */
/* значення або співпадає, або починається зі слова і дефіс */
[title |="Підказка"] {
    /* Підказка- */
    color: #77608d;

}

/* селектор імені атрибуту та його значення  за умови */
/* значення елементу починається з вказаного значення атрибуту */
[class^="list"] {}

/* селектор імені атрибуту та його значення  за умови */
/* значення елементу закінчується з вказаного значення атрибуту */
[class$="item"] {}

/* селектор імені атрибуту та його значення  */
/* значення елемента містить значення атрибуту */
/* всі значення класів, що містять такий запис __container*/
[class*="__container"] {
    max-width: 83.125rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin: 0 auto;
}

/* запит до усіх тегів з потрібним классом */
div.text {}

/* запит до усіх тегів з классами block та text одночасно */
.block.text {
    /*<div class="block text"></div> */
}

/* комбінації */
/* звернення до тегів в який одночасно є 2 класси */
div.block.text {}

/* звернення до дівів з классом блок та параграфів з класом тест */
div.block,
p.test {}

/* Каскадність
 */
/* запит до усіх тегів div, які знаходяться в елементах с класом дів на Будь-Якому рівні */
.text div {}

/* звертаємось до класа текст, який знаходиться на будь-якому рівні класа блок */
.block .text {}

/* звертаємось до всіх об'єктів класа */
.text * {}

/* звертаємось до всіх тегів дів, які знаходяться в елементах з класом текст першого рівня */
.text>div {}

/* звертаємось до об'єктів з класом текст, які знаходяться безпосередньо, тобіш на першому рівні класа блок */
.block>.text {}

/* звертаємось ДО наступних тега дів того ж рівня */
.text~div {}

/* <div class="text">
    <div></div>
</div>
/* ці діви отримають ті знчення */
/*<div class="block">
    <div class="text"></div>
</div> 
<div class="block">
    <div class="text"></div>
</div> */

/* звертаємось до першого наступного елемента діва, але якщо наступний елемент буде не дів, то не спрацює */
.text+div {}